#dashboard-widgets .postbox-container, #wpbody-content #dashboard-widgets.columns-4 .postbox-container.minimax {
	width: 35%;
}

.invalid-licence {
	display: inline-block;
	background: #e74c3c;
	color: #FFF;
	padding: 3px 8px;
	border-radius: 5px;
	font-size: 11px;
}

.warning-licence {
	display: inline-block;
	background: #e67e22;
	color: #FFF;
	padding: 3px 8px;
	border-radius: 5px;
	font-size: 11px;
}

.valid-licence {
	display: inline-block;
	background: #2ecc71;
	color: #FFF;
	padding: 3px 8px;
	border-radius: 5px;
	font-size: 11px;
}

.buy-licence {
	display: inline-block;
	background: #3498db;
	color: #FFF;
	padding: 3px 8px;
	border-radius: 5px;
	font-size: 11px;
}
.buy-licence a {
	color: #FFF;
}

#mm-box-zaloga{
    overflow: hidden;
}
 
#mm-box-zaloga p{
    clear: both;
}
 
.prfx-row-title{
    margin-right: 8px;
}


#mm-box-zaloga label{
    min-width: 80px;
    display: inline-block;
}

#mm-box-zaloga select{
    width: 300px;
}
